{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-return-assign": 0,
    "no-console": "off",
    "array-callback-return": 0,
    "no-param-reassign": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-dynamic-require": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight", "to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  },
  "env": {
    "browser": true,
    "jest": false
  }
}
